
.websiteWrapper {
    display: flex;
    justify-content: center;
    background: rgb(237,175,175);
    background: linear-gradient(90deg, rgba(237,175,175,1) 5%, rgba(209,186,175,1) 23%, rgba(178,175,237,1) 43%, rgba(163,217,228,1) 69%, rgba(178,229,240,1) 91%);
}

.websiteTitle {
    font-family: "Tahoma", sans-serif;
    font-style: normal;
    font-size: 3.5rem;
    font-weight: 500;
    color: #ffffff;
}


.searchBar {
    width: 30vw;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3vh;
}

.searchBarContainer {
    width: 100%;
    margin: 0px;
}

.searchBar ::placeholder {
    color: #aaabc3;
}

.form-control {
    border-color: #aaabc3;
}

#results {
    display: block;
    width: 500px;
    max-height: 56.5vh;
    overflow-y: auto;
}

.historyTitle {
    font-size: 27px;
}

#history {
    display: block;
    max-height: 56.5vh;
    overflow-y: auto;
}

#clearHistory {
}

.currentHeader {
    display: flex;
    flex-direction: row;
}

.cityName {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    padding: 0 0 10px 10px;
}

.cityDate {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    padding: 0 0 10px 10px;
}

.cityText {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding: 0 0 5px 10px;
}

.content {
    max-height: 70vh;
}

.container {
    max-width: 95%;
}

.row {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
    margin-left: 0;
}

.cardLarge {
    display: flex;
    width: 100%;
}

.dayWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: 0;
}
  
.forecastTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    padding-bottom: 5px;
}

.cardDay {
    width: 20%;
    margin: 0 10px 0 10px;
    background-color: #d3edf7;
}

.weatherIcons {
    margin-left: 20px
}

.cardDay p {
    padding-left: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.cardDay .date {
    padding: 2% 0 2% 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    background-color: #9dd4ed;
    border-radius: 5px 5px 0 0;
}
